[Unit]
Description=wrapdocker
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
ExecStart= /usr/local/bin/wrapdocker
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
